@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&display=swap');
* {
    --text: #878787;
    --background: #11045a;
}

body{
    background-color: rgb(6, 6, 86);
    /* background-image: url("https://images.unsplash.com/photo-1530053969600-caed2596d242?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c2VhJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80"); */
    color: white;
    font-family: 'Poppins', sans-serif;
    
}
root {
    width: 100%;
    height: 100%;
    color: var(--text);
    background-color: var(--background);
    
}

nav > a {
    margin-right: 0.3rem;
}

.fish-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.fish-card {
    padding: 0.3rem;
    margin: 0.3rem;
    border: thin solid var(--text);
    border-radius: 0.3rem;
}

.fish-card > img {
    height: 100px;
}

.fish-card > button {
    cursor: pointer;
}